html {
  height: 100%;
}

body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
}

body * {
  box-sizing: border-box;
  
}

#root,
#root > div {
  height: 100%;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

button {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	outline: inherit;
}

@font-face {
  font-family: "Material Icons";
  src: url(./assets/fonts/MaterialIcons-Regular.woff2) format("woff2"),
    url(./assets/fonts/MaterialIcons-Regular.woff) format("woff"),
    url(./assets/fonts/MaterialIcons-Regular.ttf) format("truetype");
}

/* MODAL */

.ReactModalPortal > div {
  opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
  align-items: center;
  display: flex;
  justify-content: center;
  /* transition: opacity 0.2s ease-in-out; */
  z-index: 999;
}

.modal-fondo {
  background-color: rgba(0, 0, 0, 0.3);
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  position: fixed;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity: 0;
}

.modal {
  background: white;
  border-radius: 0px;
  color: rgb(51, 51, 51);
  display: inline;
  outline: none;
  padding: 24px;
  height: 100%;
  width: 100%;
  top: auto;
  left: auto;
}

@media(min-width: 450px){
  .modal {
    height: fit-content;
    width: fit-content;
    border-radius: 5px;
  }
}
